# macOS system files
.DS_Store
**/.DS_Store

# ignore airgap image bundles
apps/kong/airgapped-installation/image-bundles/*.tar*


# ignore airgap bundles
apps/kong/airgapped-installation/image-bundles/
*.tar
*.tar.gz
*.tgz
*.img
*.iso
*.bin
